/*Stylizace tabulek create */
.new-container-main {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.new-container-main table {
        border-collapse: collapse;
        width: 100%;
    }

.new-container-main table td {
            border: 1px solid black;
            padding: 10px;
        }

.new-container-main table th {
            border: 1px solid black;
            padding: 10px;
            background-color: lightgray;
        }

.new-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.new-container .form-group {
        padding: 3px;
    }
/*Stylizace Index stranky*/
.table-responsive {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

    .table-responsive thead th {
        font-weight: bold;
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
    }

    .table-responsive tbody td {
        border-bottom: 1px solid #ddd;
    }

.new-container.d-flex.align-items-center.justify-content-center {
    margin-top: 20px;
    text-align: center;
}

.form-group.text-center.mt-1 a.btn-block {
    display: block;
    width: 100%;