@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="text-center">
    <h1 ">Vítejte v projektu - Pojištovna</h1>
    <h2>
        Aplikace byla vypracována Davidem Lodňanem.
    </h2>
    <br />
    <h2>
        Stále na ní pracuji.
    </h2>
    <br />
    <h2>
        Momentálně se učím přidávat role.</a>.
    </h2>
</div>
