@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="text-center">
    <h1 class="display-4">Vítejte v projektu - Pojištovna</h1>
    <p>
        Aplikace byla vypracována Davidem Lodňanem.
    </p>
    <br />
    <p>Stále na ní pracuji. </p>
    <br />
    <p>
        Momentálně se učím přidávat role.</a>.
    </p>
</div>
