@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="text-center">
    <h1 class="display-4">Vítejte v projektu - Pojištovna</h1>
    <p>Aplikace byla vypracována Davidem Lodňanem.</a>.</p>
</div>
