@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Přístup zamítnut";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h3 class="text-danger">Prosím přihlaš se jako admin.</h3>
</header>
