@model WebAppInsurance.Models.Insurance

@{
    ViewData["Title"] = "Upravit pojistku";
}

<h1>Upravit pojistku</h1>

<h4>Pojištění</h4>
<form asp-action="Edit" class="form" id="createForm">
    <div class="new-container-main">
        <div class="row">
            <div class="col-md-6">
                <table class="table-responsive">
                    <tr>
                        <td>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="InsuranceName" class="form-label visually-hidden"></label>
                                <label for="insuranceName">Název pojištění</label>
                                <select asp-for="InsuranceName" class="form-control" id="insuranceName">
                                    <option value="Auta/Moto">Auta/Moto</option>
                                    <option value="Nemovitosti">Nemovitosti</option>
                                    <option value="Cestovní">Cestovní</option>
                                    <option value="Úrazové">Úrazové</option>
                                    <option value="Domácnosti">Domácnosti</option>
                                </select>
                                <span asp-validation-for="InsuranceName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InsuranceSubject" class="form-label visually-hidden"></label>
                                <label for="insuranceSubject">Předmět pojištění</label>
                                <select asp-for="InsuranceSubject" class="form-control" id="insuranceSubject">
                                    <option value="Automobil">Automobil</option>
                                    <option value="Dům">Dům</option>
                                    <option value="Cestování do zahraničí">Cestování do zahraničí</option>
                                    <option value="Životní">Životní</option>
                                    <option value="Vytopení sousedů">Vytopení sousedů</option>
                                </select>
                                <span asp-validation-for="InsuranceSubject" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Amount" class="form-label visually-hidden"></label>
                                <label for="amount">Pojištovací částka</label>
                                <input asp-for="Amount" class="form-control" id="amount" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table-responsive">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="StartDate" class="form-label visually-hidden"></label>
                                <label for="startDate">Začátek pojištění</label>
                                <input asp-for="StartDate" class="form-control" id="startDate" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EndDate" class="form-label visually-hidden"></label>
                                <label for="endDate">Konec pojištění</label>
                                <input asp-for="EndDate" class="form-control" id="endDate" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InsuredId" class="form-label visually-hidden"></label>
                                <label for="insuredId">Pojištěná osoba</label>
                                <select asp-for="InsuredId" class="form-control" id="insuredId" asp-items="ViewBag.InsuredId"></select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="new-container-btn d-flex align-items-center justify-content-center">
        <div class="form-group mt-3">
            <button type="submit" value="Save" class="btn btn-primary btn-block">Uložit</button>
            <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-secondary">Zpět</button>
        </div>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

